@font-face { font-family: pixelFont; src: url('assets/04B_03.ttf'); }
body{
	margin: 0;
	padding: 0;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#level-architect-menu{
	position:absolute;
	top:0px;
	left:0px;
	width: 640px;
	height: 32px;
	z-index: 10;
	background-color:rgb(128, 128, 128);
	opacity: 0.5;
}
.level-architect-option{
	margin-left: 4px;
	margin-top: 4px;
	cursor: pointer;
	opacity: 0.3;
	width: 24px;
	height: 24px;
}
.selected{
	opacity: 1.0;
}

#console{
	position: absolute;
	top: 500px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid black;
}
#console_messages{
}
.console_message{
	border-bottom: 1px solid #cccccc;
	padding-left: 5px;
}
#console_input_container{
	
}
#console_input_prompt{
	color: #000000;
	font-weight:bold;
	position: relative;
	top: 3px;
	float: left;
}
#console_input{
	/*remove default stylings of textarea*/
	border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	resize: none;
	
	float: left;
	position: relative;
	left: 0px;
	right: 3px;
	top: 3px;
	border: 1px solid #cccccc;
	min-width: 480px;
	height: auto;
}
#console_input:focus { outline: 0px solid transparent; }